.App {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.message {
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #f87a13;
  font-weight: bold;
  text-shadow: 1px 1px rgb(214, 163, 87);
  border: 1px solid rgb(214, 148, 87);
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a {
  color: #42c8f5;
}

.split {
  position: relative;
  padding: 20px;
  height: 100vh;
  background: url('/background.png') no-repeat center fixed;
  background-size: cover;
}

ul li {
  display:inline-table;
}

img.active {
  outline: 4px solid #f44336;
  outline-offset: -4px;
}

button
{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #42c8f5;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

button.resetButton {
  background-color: #f87a13;
  text-shadow: 1px 1px rgb(214, 163, 87);
  border: 1px solid rgb(214, 148, 87);
}

button.resetButton:hover {
	background-color:#ff7300;
}

button.endButton {
  background-color: #f54242;
  text-shadow: 1px 1px rgb(214, 87, 87);
  border: 1px solid rgb(214, 87, 87);
}

button.endButton:hover {
	background-color:#fa1818;
}

button.endButton:hover {
	background-color:#fa1818;
}

button:hover {
	background-color:#18c1fa;
}

button:active {
	position:relative;
	top:1px;
}

li img {
  width: 300px;
  border-radius: 5%;
  padding: 5px;
  cursor: pointer;
}

img.nonactive {
  cursor: default;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.topPane,
.bottomPane {
  position: relative;
  width: 100%;
  height: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
