.App {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.info {
  padding: 20px;
}

.message {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.split {
  position: relative;
  height: 100vh;
}

ul li {
  display:inline;
}

img.active {
  border: 4px solid #f44336;
}

Submit my Form

button.submitButton
{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

li img {
  width: 300px;
  border-radius: 5%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.topPane,
.bottomPane {
  position: relative;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
